# test requirements
boto3
pytest
pyyaml
mock
tox

-e .
git+https://github.com/humilis/humilis
git+https://github.com/humilis/humilis-microservice
git+https://github.com/humilis/humilis-streams
git+https://github.com/humilis/humilis-kinesis-processor
git+https://github.com/humilis/humilis-secrets-vault
git+https://github.com/humilis/humilis-lambdautils
