# test requirements
boto3
pytest
mock
tox
git+https://github.com/humilis/humilis
git+https://github.com/humilis/humilis-firehose-resource

# We also need to install this layer in order to test it
-e .

