---
meta:
    description:
        Creates Firehose delivery streams

    parameters:
        firehose_resource_function_arn:
            description:
                The ARN of the Lambda function that backs the custom Firehose resource
            value:
                ref:
                    parser: output
                    parameters:
                        layer_name: {{firehose_resource_layer or "firehose-resource"}}
                        output_name: CustomResourceFunctionArn

        s3_bucket_name:
            description:
                Name of the target S3 bucket
            value:
                # Assume the target bucket is in a layer called "storage" with
                # an output called "BucketName"
                ref:
                    parser: output
                    parameters:
                        layer_name: {{storage_layer or "storage"}}
                        output_name: BucketName

        s3_buffer_mbs:
            description:
                The amount of buffering in MBs
            value:
                # Minimum: 1, Maximum: 128
                128

        s3_buffer_seconds:
            description:
                The ammount of buffering in seconds
            value:
                # Minimum: 60, Maximum: 900
                900

        s3_compression:
            description:
                The compression type
            value:
               # Values: UNCOMPRESSED, GZIP, ZIP, Snappy 
                GZIP

        redshift_delivery:
            description:
                If set to True, activate delivery to Redshift
            value:
                False

        redshift_copy_options:
            description:
                Options for Redshift copy command
            value:
                EMPTYASNULL CSV GZIP

        redshift_host:
            description: The hostname or IP address of the Redshift endpoint
            value:
                ref:
                    parser: secret
                    parameters:
                        service: "{{keyring_group}}"
                        key: host

        redshift_port:
            description: The port of the Redshift endpoint
            value:
                ref:
                    parser: secret
                    parameters:
                        service: "{{keyring_group}}"
                        key: port

        redshift_database:
            description: The name of the Redshift database
            value:
                ref:
                    parser: secret
                    parameters:
                        service: "{{keyring_group}}"
                        key: database

        redshift_username:
            description: Redshift username
            value:
                ref:
                    parser: secret
                    parameters:
                        service: "{{keyring_group}}"
                        key: username

        redshift_password:
            description: Redshift password
            value:
                ref:
                    parser: secret
                    parameters:
                        service: "{{keyring_group}}"
                        key: password

        streams:
            description:
                The names of the streams and the associated S3 prefixes and, 
                optionally, Redshift tables.
            value:
                - name: DeliveryStream
                  prefix: stream/
                  table: "_test.stream"
