---
outputs:
    {% for stream in streams %}
    {{stream.name}}:
        Description:
            Physical ID of delivery stream '{{stream.name}}'.
        Value:
            Ref: {{stream.name}}
    {{stream.name}}Arn:
        Description:
            The Arn of delivery stream '{{stream.name}}'.
        Value:
            "Fn::GetAtt":
              - {{stream.name}}
              - Arn
    {% endfor %}
