---
resources:
    {% for stream in streams %}
    {{stream.name}}:
      Type: 'Custom::Firehose'
      Properties:
        ServiceToken: "{{firehose_resource_function_arn}}"
        S3DestinationConfiguration:
          RoleARN:
            "Fn::GetAtt":
              - DeliveryStreamRole
              - Arn
          BucketARN:
            "Fn::Join":
              - ""
              - ["arn:aws:s3:::", "{{s3_bucket_name}}"]
          Prefix: "{{_env.name}}/{{_layer.name}}/{{stream.prefix}}"
          BufferingHints:
            SizeInMBs: "{{s3_buffer_mbs}}"
            IntervalInSeconds: "{{s3_buffer_seconds}}"
          CompressionFormat: "{{s3_compression}}"
        {% if redshift_delivery %}
        RedshiftDestinationConfiguration:
          ClusterJDBCURL: "jdbc:redshift://{{redshift_host}}:{{redshift_port}}/{{redshift_database}}"
          CopyCommand:
            DataTableName: "{{stream.table}}"
            CopyOptions: "{{redshift_copy_options}}"
          Username: "{{redshift_username}}"
          Password: "{{redshift_password}}"
        {% endif %}

    DeliveryStreamRole:
      Type: 'AWS::IAM::Role'
      Properties:
        AssumeRolePolicyDocument:
          Version: '2012-10-17'
          Statement:
            - Effect: Allow
              Principal:
                  Service: 'firehose.amazonaws.com'
              Action: 'sts:AssumeRole'
        {# Keep all environment roles under the same path #}
        Path: {{ "/{}/".format(_env.name) }}
        Policies:
          - PolicyName: root
            PolicyDocument:
              Version: "2012-10-17"
              Statement:
                - Effect: Allow
                  Action:
                    - "s3:ListBucket"
                  Resource:
                    "Fn::Join":
                      - ""
                      - ["arn:aws:s3:::", "{{s3_bucket_name}}"]
                - Effect: Allow
                  Action:
                    - "s3:GetObject"
                    - "s3:PutObject"
                  Resource:
                    "Fn::Join":
                      - ""
                      - ["arn:aws:s3:::", "{{s3_bucket_name}}/{{_env.name}}/{{_layer.name}}/*"]
    {% endfor %}
